.container{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 70px;
  background-color: grey;
  padding: 0 auto;
}

.cell{
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  margin-bottom: -5px;
}

.cellColor{
  background-color: red;
}

.row{
  width: 30%;
  margin: 0 auto;
}

.border{
  border: 1px solid black;
}
